<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuCKEIMM2e8iXi1LaxZDxs_iDxRICHKgA</string>
	<key>GCM_SENDER_ID</key>
	<string>351967789232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.divelog2</string>
	<key>PROJECT_ID</key>
	<string>divelog2-ea9a6</string>
	<key>STORAGE_BUCKET</key>
	<string>divelog2-ea9a6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351967789232:ios:1af3fda90846d7cc4afb75</string>
</dict>
</plist>